a:not(:hover) ul.addon_FANS_framerateList{
	opacity: 0;
}

ul.addon_FANS_framerateList {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	margin: 4px;
	color: var(--yt-spec-static-brand-white);
	background-color: var(--yt-spec-static-overlay-background-heavy);
	border-radius: 2px;
	font-size: 1.2rem;
	font-weight: 500;
	list-style: none;
	opacity: 1;
	transition: 200ms opacity ease;
}

ul.addon_FANS_framerateList>li{
	padding: 3px 4px;
}
ul.addon_FANS_framerateList>li::after{
	content: " fps";
}
